<html>
    <head>
        <title>Main Pagee</title>
    </head>
    <body style="padding: 3%;">
        <h3>Registered Successfully</h3><br>
        <a href="login" class="btn btn-success ml-2">Logout</a>
    </body>
</html>